# Variáveis universais para todos os stacks de linguagem (TEMPLATE)
#
# Este arquivo é apenas um exemplo de valores.
# No GitHub Actions, configure em: Settings -> Secrets and variables -> Actions -> Variables

# === PORTAS ===
DOCKER_PORT_TO_EXPOSE=8080

# === OUTPUT PADRÃO ===
DOCKER_APP_OUTPUT_PATH=/workspace/app

# === USUÁRIO PADRÃO ===
DOCKER_APP_USER=10001

# === CONVENÇÕES DE TAG ===
DOCKER_TAG_PREFIX=ci

# === REGISTRO E ORGANIZAÇÃO PADRÃO ===
DOCKER_REGISTRY=docker.io
DOCKER_ORG=bolismar69
